{% extends 'base.html' %}{% block content%}
{% load static %}
<div class="jumbotron jumbotron-lg jumbotron-fluid mb-0 pb-5 bg-warning position-relative">
	<div class="container text-white h-100 tofront">
      <div class="d-lg-flex align-items-center justify-content-between text-center pl-lg-5">
        <div class="col pt-4 pb-4">
            <h1 style="color: #343a3e; font-weight: bold; font-family: 'Dosis';" class="display-3">StoryDream</h1>
            <h4 style="color: #343a3e; font-weight: 400; margin-bottom:2rem;" >
              解開創作故事的夢境！
            </h4>
            <button type="button" class="btn btn-lg btn-outline-white btn-round" style="border-color: #343a3e;" onclick="create()">
              <h3  style="color: #343a3e; font-weight: 600"> 開始創作！</h3>
            </button>
        </div>
        <div class="col align-self-bottom align-items-right text-right h-max-380 h-xl-560 position-relative z-index-1">
            <img src="{% static 'image/banner_img.png' %}" class="rounded img-fluid">
        </div>
		</div>
	</div>
</div>
<svg style="-webkit-transform:rotate(-180deg); -moz-transform:rotate(-180deg); -o-transform:rotate(-180deg); transform:rotate(-180deg); margin-top: -1px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" xml:space="preserve">
  <path class="bg-warning" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"></path>
</svg>
<!-- End Header -->

<div class="container mt-10" style="margin-bottom:30px;">
  <div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-primary d-none d-sm-block" style="float: right" onclick="create()" >
          建立繪本
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container mt-10" style="margin-bottom:30px;">
  <div class="row mt-10">
    <div class="col-12">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for book in books %} {% if book.public_status %}
        <div class="col-lg-4 col-md-6 col-sm-1 col-xs-1">
          <a id="card-a" href="{% url 'storyview' book.id %}">
            <div id="card-style" class="card h-100">

            {% if book.getCover != none %}
            <img
                src="data:image/png;base64,{{book.getCover}}"
                class="card-img-top"
                alt=""
              />
            {% else %}
            <img
              src="https://dummyimage.com/768x768/999/fff.png&text=none"
              class="card-img-top"
              alt="..."
            />
            {% endif %}

            <div class="card-body">
              <p class="card-title">{{book.title}}</p>
              <p class="card-author">{{book.author}}</p>
            </div>
            </div>
          </a>
        </div>
        {%endif%} {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock%}
